<h1>Admin Actions</h1>
<p> <%= link_to('Merchant Manager', :controller => 'merchants', :action => '' )%> <br />
	<%= link_to('User Manager', :controller => 'users', :action => '' )%> <br />
	<%= link_to('Review Manager', :controller => 'reviews', :action => '' )%> <br />
	<%= link_to('Admin Manager', :controller => 'admin_users', :action => '' )%> <br />
	<%= link_to('logout', :action => 'logout' )%>
</p>
