<h1>Editing merchant</h1>

<%= error_messages_for :merchant %>

<% form_for(@merchant) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip</b><br />
    <%= f.text_field :zip %>
  </p>

  <p>
    <b>Web address</b><br />
    <%= f.text_field :web_address %>
  </p>

 <p>
 	<b>Image Path</b><br />
 	<%= f.text_field :image_path %>
 </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @merchant %> |
<%= link_to 'Back', merchants_path %>
