<h1 style="text-align:left"> <%= @merchant.name %> </h1>

<%= image_tag(@merchant.image_path, :size => '200x90')%>

<h2 style="color:red; text-align:left"> Overall Rating: <%=h render :partial => 'score', :locals => { :merchant => @merchant } %>/5 </h2>

<h3><%= @merchant.address %><br />
	<%= @merchant.city %>, <%= @merchant.state%> <%= @merchant.zip%><br />
	<%= link_to(@merchant.web_address, 'http://www.' + @merchant.web_address)%>
</h3>
<br />

<p style="font-size:1.5em; font-weight:bold"> <br /> <%= link_to('|Write a Review|', :controller => 'reviews', :action => 'public', :id => @merchant.id ) %></p>

<!-- merchant id saved into sessions because ima dumbass  --> 
<% session[:merchant_id] = @merchant.id %>

<p>All reviews for <%= @merchant.name %>:
<table style="width: 500px; border-collapse: collapse;">
<% merchant_id = params[:id].to_i %>	

<% for review in @reviews -%>
	
	<% if merchant_id == review.merchant_id then %>
	

	<% row_color = cycle("CCCCCC", "FFFFFF") %>
	
	<tr style="background: #<%= row_color %>;" >
		
		<td><b><%= link_to(review.user.first_name + " " + truncate(review.user.last_name, 2, "."), :controller => "users", :action => "public", :id => review.user.id) %></b><br /> <%= image_tag(review.user.image_path, :size => '90x100')%> </td>
			
		<td>
			 <p style="font-size: 1em; font-weight: bold;"> Review of <%= review.merchant.name %> 
			 </p>
		
			 <blockquote >	<%= review.comment %> </blockquote>
			<p style="font-size: 1em; font-weight: bold; text-align:left;"> 
				<% if review.score <= 2 then -%>
					<font color="yellow">
				<% elsif (review.score == 3) || (review.score == 4) -%>
					<font color="orange">
				<% else -%>
					<font color="red">
				<% end -%>
				Rating: <%= review.score%> out of 5 
					</font>			
			</p>
			<p style="font-size: .8em; text-align:right" ><i> Written on <%= review.created_at.strftime("%a %b %d %Y") %>  </i></p>
			
		</td>
		<td>
			<p> <%= link_to('∧', :controller => 'public', :action => 'rank_up', :id => review.id )%><br /><%= link_to('Rank up!', :controller => 'public', :action => 'rank_up', :id => review.id )%></p> <br />
			<p><%= link_to('Rank down!', :controller => 'public', :action => 'rank_down', :id => review.id )%><br /><%= link_to('∨', :controller => 'public', :action => 'rank_down', :id => review.id )%></p>
		</td>
	</tr>
	
	<% end -%>
	<% end -%>
</table>
</p>