<h1>User Login </h1><br />
<%= error_messages_for :user %>

<p>Not a user yet? <%= link_to("Sign Up!", :controller => "public", :action => "signup" )%> </p>
	
<% form_for :user, @user, :url => { :action => "send_login" } do |f| %>
  <p>
    <b>email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

