<h1>List a new business that we don't yet know about! </h1> <br />
<%= error_messages_for :merchant %>


	
<% form_for :merchant, @merchant, :url => { :action => "send_merchant" } do |f| %>
  
  <p>
    <b>Company Name</b><br />
    <%= f.text_field :name %>
  </p>
	
  <p>
    <b>Web address*</b><br />
    http://www.<%= f.text_field :web_address %><br />
    *don't include the "http://www." when you put it in the box
  </p>
  <p>
    <b>Address</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip</b><br />
    <%= f.text_field :zip %>
  </p>
  
  <p>
  	<b>Image Path*</b><br />
  	<%= f.text_field :image_path %><br />
  	*If you have the image URL (starting with http://...) of an image on another website, <br / > 
  	you can paste it in here 
  	(ex. <%= link_to('http://images.barnesandnoble.com/presources/images/bn_logo.gif', 'http://images.barnesandnoble.com/presources/images/bn_logo.gif')%> ) <br /> or you can just leave it blank.

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>