<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The wholesale fashion jewelry supplier review super site: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'public' %>
  <meta name="keywords" content="Wholesale Jewelry Manufacturers,Wholesale Jewelry Online,Wholesale Jewelry Pendants" /> 
    <meta name="description" content="One of the hardest decisions to make as a retailer is where to buy wholesale jewelry online, with the assurance that the product is a good investment. Every business owner of a resale shop, regardless of the size, must have a good profit margin in order to stay afloat. With such a variance in wholesale prices, it is necessary to carefully evaluate exactly what type of product you're getting for every dollar you spend." /> 
    
    <meta name="robots" content="index,follow" /> 
    
    <link rel="Shortcut Icon" href="http://alamodeonline.com/Images/favicon.ico" /> 
    <link rel="Bookmark" href="http://alamodeonline.com/Images/favicon.ico" /> 
 
</head>
<body>

<p style="text-align:right" >
<% if session[:user_name] %>
	hallo! <%= session[:user_name] %>
<% end -%>	
<% if session[:user_id] -%>	
 | <%= link_to('log out', :controller => 'public', :action => 'logout' )%> |  
<% else -%>
 | <%= link_to('sign up!', :controller => 'public', :action => 'signup' )%> | <%= link_to('log in', :controller => 'public', :action => 'login' )%> | 
<% end -%> 
| <%= link_to("Home", :controller => 'public', :action => 'list' )%> |
</p>



      
<h1 style="text-align:center">The wholesale fashion jewelry supplier review super site! </h1><br />
<p style="text-align:center" > | <%= link_to("All Reviews", :controller => 'public', :action => "list" )%> | <%= link_to("All Businesses", :controller => "public", :action => "allmerchants")%> |

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('009598067262539149570:3wsvghcmtva');
    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/minimalist.css" type="text/css" />


</body>
</html>